<section class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="card m-auto">
          <div class="card-titles" >
            <div class="row text-white align-items-center" style="background-color:#260466" >
              <div class="col-md-5">
                <img src="https://www.mphasis.com/mphasis/ebooks/2018DigitalAnnualReport/images/Logo.png" width="250px" height="80px" class="text-white" alt="">
              </div>
              <div class="col-md-5">
                <h4>Employee Outreach</h4>
              </div>
              <div class="col-md-1">
                <img src="../../../assets/img/close.png"  size="30px" height="40px" alt="">
              </div>
            </div>
          </div>
          <div class="card-header m-auto">
            <div class="d-flex" style="background-color: lightgray">
              <div class="col-md-2">
                <img src="../../../assets/img/login-user.png"  width="100px" height="100px" alt="">
              </div>
              <div class="col-md-10">
                <h2 class="text-center">Himabindhu Nandimandalam</h2>
                <h2 style="color: #c82333">Date: 5/19/2020</h2>
              </div>
            </div>
          </div>
          <div class="card-body  text-center">
            <div>
              <p style="color: red"> Mphasis require all employees to disclose if they have tested positive for covid-19 or have been contacted with someone who are affected</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 text-center">
                <img src="../../../assets/img/wfh.png" width="100px" height="100px" alt="">
                <p class="pt-2 text-primary">WFH Guideline</p>
              </div>
              <div class="pl-5 col-md-6 text-center">
                <a routerLink="/attendance-tracker">
                <img src="../../../assets/img/attendant-list.png" width="100px" height="100px" alt="">
                <p class="pt-2 text-primary" style="cursor: pointer">Attendance Tracker</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 text-center">
                <img src="../../../assets/img/soundhorn.png" width="100px" height="100px" alt="">
                <p class="pt-2 text-primary">Employee Outreach</p>
              </div>
              <div class="pl-5 col-md-6 text-center">
                <img src="../../../assets/img/Delivery-pulse.png" width="100px" height="100px" alt="">
                <p class="pt-2 text-primary">Delivery Pulse-Check</p>
              </div>
            </div>
          </div>
          <div class="text-center">
            <img src="../../../assets/img/globe.png"  width="100px" height="100px" alt="">
            <p class="text-primary pt-2"> Mphasis Crisis Communication</p>
          </div>
          <div class="card-footer bg-primary text-white" style="color: #0d47a1">
            <p>&copy; Mphasis 2020- The Next Applied</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

