
<!--Schedule Interview -->

<section class="p-3">
  <div class="container m-auto mb-2">
    <div class="row">
      <div class="col-sm-10">
        <form action="" class="mt-3 first-form">
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Candidate Name</label>
              <input type="text" value="" class="form-control mt-2" formControlName="name">
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Candidate Info</label>
              <input type="text" value="" class="form-control mt-2" formControlName="assignee">
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Candidate Id</label>
              <input type="text" value="" class="form-control mt-2" name="id">
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Job Description</label>
              <textarea type="textarea" value="" rows="1" class="form-control mt-2" name="description"></textarea>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Interview 1</label>
              <select type="text" value="" class="form-control mt-2" name="email">
                <option>Demo</option>
                <option>User 1</option>
                <option>User 2</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Interview 1 Date</label>
              <div class='input-group'>
                <input type='date' class="form-control mt-2" />
                <span class="input-group-addon">
                        <i class="fa fa-calendar-alt fa-2x mt-2"></i>
                    </span>
              </div>
            </div>

            <div class="col-sm-12 text-right">
              <button class="btn btn-warning">Save</button>
              <button class="btn btn-danger">Complete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <div class="kss-contact-form-area">
          <form autocomplete="off">
            <div class="row">
              <div class="col-lg-6">
                <div class="kss-input-box mt-30">
                  <input type="text" placeholder="Candidate Name" name="name" required>
                  <i class="fa fa-user"></i>
                </div> <!-- input box -->
              </div>
              <div class="col-lg-6">
                <div class="kss-input-box mt-30">
                  <input type="text" placeholder="Candidate Info" name="info" required>
                  <i class="fa fa-info-circle"></i>
                </div> <!-- input box -->
              </div>
              <div class="col-lg-6">
                <div class="kss-input-box mt-30">
                  <input type="text" placeholder="Candidate ID" name="id" required>
                  <i class="fa fa-id-badge"></i>
                </div> <!-- input box -->
              </div>
              <div class="col-lg-6">
                <div class="kss-input-box mt-30">
                  <textarea type="text" rows="1" placeholder="Job Description"
                            name="message" required></textarea>
                  <i class="fa fa-user-edit"></i>
                </div> <!-- input box -->
              </div>
              <div class="col-lg-6">
                <div class="kss-input-box mt-30">
                  <select type="text" placeholder="Interview 1" name="interview" required>
                    <option>Demo</option>
                    <option>User 1</option>
                    <option>User 2</option>
                  </select>
                </div> <!-- input box -->
              </div>
              <div class="col-lg-6">
                <div class="kss-input-box mt-30">
                  <input type="text" placeholder="Interview 1 Date" name="interviewDate" required>
                  <i class="fa fa-calendar-alt"></i>
                </div> <!-- input box -->
              </div>
              <div class="col-sm-12 text-right">
                <button class="btn btn-warning">Save</button>
                <button class="btn btn-danger">Complete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<!--my profile table-->
<section class="p-3">
  <div class="container m-auto">
    <div class="row">
      <div class="col-sm-4">
        <table class="table table-hover table-bordered text-center table-light">
          <tr>
            <th>ID</th>
            <td>Demo</td>
          </tr>
          <tr>
            <th>First Name</th>
            <td>Demo</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>Demo</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>Demo</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>

<!--Interview 2 feedback-->

<section class="p-3">
  <div class="container m-auto">
    <div class="row">
      <div class="col-sm-10">
        <form action="" class="mt-3 first-form">
          <div class="form-row">
            <div class="form-check col-sm-3">
              <label class="font-weight-bold text-dark text-2 ml-2">Interview 2 Result</label>
              <input type="checkbox" value="" class="form-check-input mt-4" name="checkbox">
            </div>
            <div class="form-group col-sm-5">
              <label class="font-weight-bold text-dark text-2">Interview 2 Feedback</label>
              <textarea type="text" value="" rows="1" class="form-control mt-2" name="info"></textarea>
            </div>
            <div class="col-sm-4 mt-2 text-right">
              <button class="btn btn-warning">Save</button>
              <button class="btn btn-danger">Complete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--Schedule Interview 2-->

<section class="p-3">
  <div class="container m-auto">
    <div class="row">
      <div class="col-sm-10">
        <form action="" class="mt-3 first-form">
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Interview 2 Date</label>
              <div class='input-group'>
                <input type='date' class="form-control mt-2" />
                <span class="input-group-addon">
                        <i class="fa fa-calendar-alt fa-2x mt-2"></i>
                    </span>
              </div>

            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Interviewer 2</label>
              <select type="text" value="" class="form-control mt-2" name="email">
                <option>Demo</option>
                <option>User 1</option>
                <option>User 2</option>
              </select>
            </div>
            <div class="col-sm-12 text-right">
              <button class="btn btn-warning">Save</button>
              <button class="btn btn-danger">Complete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--Interview 1 Feedbcak-->
<section class="p-3">
  <div class="container m-auto">
    <div class="row">
      <div class="col-sm-10">
        <form action="" class="mt-3 first-form">
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Interview 1 Result</label>
              <select type="text" value="" class="form-control mt-2" name="result">
                <option>Short List</option>
                <option>Reject</option>
              </select>

            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold text-dark text-2">Interview 1 Feedback</label>
              <textarea type="text" value="" rows="1" class="form-control mt-2" name="info"></textarea>
            </div>
            <div class="col-sm-12 text-right">
              <button class="btn btn-warning">Save</button>
              <button class="btn btn-danger">Complete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
